.addBtn {
  background-color: #EC407A;
  color: white;
  display: block;
  padding: 10px;
  width: 100px;
  text-align: center;
  margin: 10px auto;
  border-radius: 10px;
}

.addBtn:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
}

.overlay form {
  opacity: 1 !important;
}

.add form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  opacity: 1;
}

.add input {
  margin-top: 5px;
  margin-bottom: 15px;
}

.bookList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.book {
  border: 1px solid gray;
  margin: 10px;
  cursor: pointer;
  width: 20vw;
  text-align: center;
}

.bookName {
  font-size: 17px;
  margin-bottom: 10px;
  padding: 15px 10px;
  background-color: #e5e5e5;
}

.bookDetails {
  font-size: 12px;
  background-color: white;
  padding: 5px 10px 10px;
}

.dangerBtn {
  background-color: #D42127;
  color: white;
  font-size: 12px;
  padding: 5px;
}

.dangerBtn:hover {
  opacity: 0.8;
}

.add {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  background-color: white;
  padding: 40px;
  transform: translateY(-50%);
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 11px;
}



